 /*The overlay of the modal pop up*/
 
 :host .overlay {
     display: block;
     position: fixed;
     bottom: 0;
     left: 0px;
     opacity: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.7);
     z-index: 1000;
     cursor: pointer;
 }
 
 .white-icon {
     color: #fff;
 }
 /*The heading of the content box in the pop up*/
 
 :host .modal-content .head {
     background: var(--color-secondary); //#2a3144;
     font-size: 24px;
     color:var(--col-accent-500);
     padding: 20px 15px 20px 8px;
     //font-weight: 100; 
     margin-top: 0px;
     margin-bottom: 0px;
     position: relative;
     z-index: 1;
     font-weight: 600;
     text-align: left;
 }
 
 // close button of the modal popup
 :host .close {
     position: absolute;
     right: 15px;
     top: calc(50% - 13px);
     z-index: 11;
     cursor: pointer;
     height: 30px;
     // margin-top: -12px;
 }
 /* The content box centered on the modal pop up overlay */
 
 :host .modal-content {
     position: absolute;
     top: 50%;
     left: 50%;
    //  width: 80%;
    //  height: 100%;
    //  max-width: 80%;
    //  max-height: 80%;
     transform: translate(-50%, -50%);
    //  background: #edf1f7;
    //  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    //  cursor: default;
    //  display: flex;
    //  flex-direction: column;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(130% 100% at 0% 0%, var(--col-primary-300), var(--col-primary-900) 100%);
    box-shadow: inset 0px -75px 60px rgb(0 0 0 / 22%);
    border-radius: 15px;
    border: 1px solid #555;
    padding: 40px 50px 30px 50px;
    max-width: 420px;
 }
 /*pre-sign-in-wrap dbd-modal-popup .content{
    overflow: auto
}*/
 /*The footer of the modal pop up inner*/
 
 :host .foot {
     //padding: 10px;
     text-align: center;
     height: 65px;
     /* background: #eee; */
     /* border-top: 1px solid #aaa;  */
 }
 
 :host .modal-content .middle {
     flex-grow: 1;
     background: var(--color-blue-bg);
     overflow-x: hidden;
     overflow-y: auto;
     
     position: relative;
     // max-height: 500px;
 }
 
 ::ng-deep {
     .toolbar {
         display: none !important;
         /* hide PDF viewer toolbar */
     }
 }