[general]
DEBUG:True
CORS_ORIGIN_ALLOW_ALL:True
DOMAIN_URL:http://172.16.30.70:8000
UI_URL:http://172.16.30.70:4200/
IMAGE_URL:http://172.16.30.70:8000/api/media/


UPLOAD_MIS_PATH:/home/moulali/vedika-docker/MIS-files/
UPLOAD_EMP_PATH:/home/moulali/vedika-docker/EMP-files/

BASE_INVITATIONS:invitations/
BASE_PROFILE:profiles/
BASE_MIS_FILES:mis_sheets/
BASE_LEAVE_BALANCE:leave_balance/
BASE_POLICIES: policy/
ADMIN_EMAIL_ATTACHMENT:admin_email_attachment/
MEDIA_FOLDER:media

[databases]
NAME:test_vedika
ENGINE:django.db.backends.mysql 
USER:vedikauser
PASSWORD:V3d1k@us2r
HOST:10.60.62.83
PORT:3306

[attendancedatabase]
NAME:test_attendance
ENGINE:django.db.backends.mysql 
USER:vedikauser
PASSWORD:V3d1k@us2r
HOST:10.60.62.83
PORT:3306

[timetrackerdb]
NAME:EmployeeThumb
ENGINE:sql_server.pyodbc 
USER:rk
PASSWORD:rk@123
HOST:10.50.75.134
PORT:1433 

[security]
SECRET_KEY:mze7)kac0&##qx=_8i4&6lxxw9q!@pt@z1&a%i3=*mz6(dz)vi
ENCRYPT_KEY:4ok6A7Rwh4q0SqlskzgRMtCd3KkQY8OYCMri9T0aBrs=
JWT_TOKEN_EXP:48
FORGOT_PASSWORD_EXP_TIME: 5
TOKEN_TYPE:Bearer

[mail]
EMAIL_FROM:support@invecas.com
EMAIL_HOST:smtp.office365.com
EMAIL_PORT:587
EMAIL_HOST_USER:support@invecas.com
EMAIL_HOST_PASSWORD:Invecas#@!456
EMAIL_USE_TLS:True

