[general]
DEBUG:True
CORS_ORIGIN_ALLOW_ALL:True
DOMAIN_URL:http://localhost:8000
UI_URL:http://localhost:4200/

UPLOAD_PATH:E:\atwork\uploads
UPLOAD_INVITATIONS_PATH:E:\atwork\repo-3-may\Vedika\backend\media\
MEDIA_FOLDER:media
UPLOAD_LEAVE_BALANCE_PATH:E:\atwork\repo-3-may\Vedika\backend\media\leave_balance

[databases]
NAME:atwork
ENGINE:django.db.backends.mysql
USER:vedikauser
PASSWORD:V3d1k@us2r
HOST:localhost
PORT:3306

[attendancedatabase]
NAME:test_attendance
ENGINE:django.db.backends.mysql 
USER:vedikauser
PASSWORD:V3d1k@us2r
HOST:10.60.62.83
PORT:3306

[timetrackerdb]
NAME:EmployeeThumb
ENGINE:sql_server.pyodbc 
USER:rk
PASSWORD:rk@123
HOST:10.50.75.134
PORT:1433

[security]
SECRET_KEY:mze7)kac0&##qx=_8i4&6lxxw9q!@pt@z1&a%i3=*mz6(dz)vi
ENCRYPT_KEY:4ok6A7Rwh4q0SqlskzgRMtCd3KkQY8OYCMri9T0aBrs=
JWT_TOKEN_EXP:48
FORGOT_PASSWORD_EXP_TIME: 5
TOKEN_TYPE:Bearer

[mail]
EMAIL_FROM:support@invecas.com
EMAIL_HOST:mail.invecas.com
EMAIL_PORT:587
EMAIL_HOST_USER:support@invecas.com
EMAIL_HOST_PASSWORD:Invecas123
EMAIL_USE_TLS:True

