[general]
DEBUG:False
CORS_ORIGIN_ALLOW_ALL:True
DOMAIN_URL:https://atwork.atai.ai/api
UI_URL:https://atwork.atai.ai/
IMAGE_URL:https://atwork.atai.ai/api/media/


UPLOAD_MIS_PATH:/home/ataivdkserver/atwork-docker/MIS-files/
UPLOAD_EMP_PATH:/home/ataivdkserver/atwork-docker/EMP-files/

BASE_INVITATIONS:invitations/
BASE_PROFILE:profiles/
BASE_MIS_FILES:mis_sheets/
BASE_LEAVE_BALANCE:leave_balance/
BASE_POLICIES: policy/
ADMIN_EMAIL_ATTACHMENT:admin_email_attachment/
MEDIA_FOLDER:media

[databases]
NAME:atworkdb
ENGINE:django.db.backends.mysql 
USER:atworkappuser
PASSWORD:A1W0rK$98AI
HOST:10.60.62.73
PORT:3306 

[attendancedatabase]
NAME:AttendanceLog
ENGINE:django.db.backends.mysql 
USER:atworkappuser
PASSWORD:A1W0rK$98AI
HOST:10.60.62.73
PORT:3306

[timetrackerdb]
NAME:EmployeeThumb
ENGINE:sql_server.pyodbc 
USER:darwinbox
PASSWORD:invecas!@#123
HOST:10.50.75.130
PORT:1433 

[security]
SECRET_KEY:w7uqudhvs%33h=(%axc&3)o6$&oq2@-0oajdfu$fdr$0nrxt7s
ENCRYPT_KEY:dWSf4bPqQ3VQtFk5LLO3669Cx_O5gw5QScK0Aci2XpY=
JWT_TOKEN_EXP:48
FORGOT_PASSWORD_EXP_TIME: 5
TOKEN_TYPE:Bearer

[mail]
EMAIL_FROM:support@invecas.com
EMAIL_HOST:smtp.office365.com
EMAIL_PORT:587
EMAIL_HOST_USER:support@invecas.com
EMAIL_HOST_PASSWORD:Inv$up$%^789
EMAIL_USE_TLS:True

