[general]
DEBUG:True
CORS_ORIGIN_ALLOW_ALL:True
DOMAIN_URL:http://10.60.62.54:8000
UI_URL:http://localhost:4200

UPLOAD_PATH:/home/sganga/vedikawebproject/vedika/backend/vedikaweb/media/
MEDIA_FOLDER:media

[databases]
NAME:vedika
ENGINE:django.db.backends.mysql 
USER:root
PASSWORD:Welcome123
HOST:10.60.62.54
PORT:3306 

[security]
SECRET_KEY:mze7)kac0&##qx=_8i4&6lxxw9q!@pt@z1&a%i3=*mz6(dz)vi
ENCRYPT_KEY:4ok6A7Rwh4q0SqlskzgRMtCd3KkQY8OYCMri9T0aBrs=
JWT_TOKEN_EXP:5
TOKEN_TYPE:Bearer

[mail]
EMAIL_FROM:support@invecas.com
EMAIL_HOST:mail.invecas.com
EMAIL_PORT:587
EMAIL_HOST_USER:support@invecas.com
EMAIL_HOST_PASSWORD:Invecas123
EMAIL_USE_TLS:True

