# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/django/venv

# dependencies
client/node_modules
server/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

*/dist
server/client

server/package-lock.json

build



#VEDIKA Backend related stuff
# ignore binary files
/backend/.vscode/
/backend/vedikaweb/.vscode/
/backend/vedikaweb/__pycache__/
/backend/vedikaweb/attendance/__pycache__/
/backend/env/

/backend/vedikaweb/vedikaapi/__pycache__/
/backend/vedikaweb/vedikaapi/services/__pycache__/
/backend/vedikaweb/vedikaapi/migrations/
/backend/__pycache__/
/backend/vedikaweb/vedikaapi/views/__pycache__/

backend/vedikaweb/logs/
backend/vedikaweb/logs/*.log.[0-9]*

backend/media/
backend/vedikaweb/configs/moulali.config
.dccache
backend/MIS-files/
backend/EMP-files/

backend/vedikaweb/configs/dipak.config
backend/vedikaweb/configs/madan.config
backend/upload-local
/app/node_modules/
/app/templates/

