<app-pre-sign-in>
    <h2 class="heading tac">Reset Password!</h2>
    <form *ngIf="showForm;else goToForgotPassword" class="mt-30" autocomplete="off" [formGroup]="fgResetPassword" validateFormOnSubmit (ngSubmit)="onSubmit($event)">
        <mat-form-field class="formField lite">
            <mat-label>Password <sup>*</sup></mat-label>
            <input (change)="onChangeInput()" matInput [attr.type]="hide.password ? 'password' : 'text'" placeholder="Password" formControlName="password">
            <mat-error *ngIf="fgResetPassword.controls.password.hasError('required')">
                Enter password
            </mat-error>
            <div style="cursor: pointer;"   matSuffix (click)="hide.password = !hide.password"
                [attr.aria-label]="'Hide password'"  >
                <svg class="use-svg" title="Show password" *ngIf="hide.password; " matPrefix fill="inherit" symbol="eye"
                w="25"></svg>
                <svg class="use-svg" title="Hide password" *ngIf="!hide.password" matPrefix fill="inherit" symbol="eye-slash"
                w="25"></svg>
            </div>
        </mat-form-field>
        <mat-form-field class="formField lite">
            <mat-label>Re enter password <sup>*</sup></mat-label>
            <input (change)="onChangeInput()" matInput  [attr.type]="hide.retypePassword ? 'password' : 'text'" placeholder="Re enter password"
                formControlName="retypePassword">
            <mat-error *ngIf="fgResetPassword.controls.retypePassword.hasError('required')">
                Re enter password
            </mat-error>
            <mat-error
                *ngIf="fgResetPassword.controls.retypePassword.hasError('notMatching') || fgResetPassword.controls.password.hasError('notMatching')">
                Password is not matching with the above password
            </mat-error>
            <div style="cursor: pointer;" matSuffix  
                [attr.aria-label]="'Hide password'" (click)="hide.retypePassword = !hide.retypePassword" >
                <svg class="use-svg" title="Show password" *ngIf="hide.retypePassword"  matPrefix fill="inherit"  symbol="eye"  w="25"
                    svg-fill="#333"></svg>
                <svg class="use-svg" title="Hide password" *ngIf="!hide.retypePassword" matPrefix fill="inherit" symbol="eye-slash"
                w="25"></svg>
            </div>
        </mat-form-field>
        <div class="flex center-xs middle-xs">
            <app-button theme="black">Submit</app-button>
        </div>
    </form>
    <ng-template #goToForgotPassword>
        <p class="tac" *ngIf="tokenResolved">
            Go to <a style="color:var(--color-tertiary);" routerLink="/forgot-password">Forgot Password</a>
        </p>
    </ng-template>
</app-pre-sign-in>