:host {
  width: 80vw;
  max-width: 780px;
  background: linear-gradient(90.49deg, var(--col-primary-800) 15.95%, var(--col-primary-900) 76.74%);
  display: flex;
  flex-direction: column;

  &.resolve-popup--reject-timesheet {
    max-width: 500px;
  }

  .popup__close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .popup__heading {
    padding: 15px 10px;
    background: var(--col-primary-700);

    h2 {
      font-weight: bold;
    }
  }

  .popup__body {
    // padding: 50px;
    max-height: 75vh;
    // overflow: auto;
    position: relative;
  }

}

.p-v {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-h {
  padding-left: 50px;
  padding-right: 50px;
}

.popup {}

.overflow {
  overflow: auto;
  overflow-y:auto;
}

.mb_30 {
  margin-bottom: 30px;
}

@media screen and (max-width:1024px) {

  .p-v {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .p-h {
    padding-left: 20px;
    padding-right: 20px;
  }
  .popup__heading h2 {
    font-size: 20px;
  }
  :host {
    .popup__close{
      position: relative;
      top: auto;
      right: 0;
      transform: none;
    }
  }
}
@media screen and (max-width:550px) {
  :host{
    width:90vw;
  }
  .p-v {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .p-h {
    padding-left: 10px;
    padding-right: 10px;
  }

}
