<input #input type="number" [class.empty]="disabled" [disabled]="disabled" maxlength="2"
  [class.black-text]="(input.value != '0' && input.value != '00')" [attr.maxlength]="2" min="0" max="24" class="fw-600" />

<p *ngIf="showErrorHours">Number must be between 0 and 24</p>
<p *ngIf="showErrorHoliday" class="{{errorTotalType}}">Hours filled for holiday</p>
<p *ngIf="showErrorVacation" class="{{errorTotalType}}">Hours filled for vacation</p>
<p *ngIf="showErrorHalfVacation" class="{{errorTotalType}}">More than 5 hours filled for half day vacation</p>
<p *ngIf="showErrorTotal" class="{{errorTotalType}}">Total hours for this day cannot be more than 24. Please re-enter.</p>
<p *ngIf="showErrorWeekend" class="{{errorTotalType}} weekend">Its {{(index == 0) ? 'Saturday' : 'Sunday'}}</p>

<div class="mins fw-600">
  <div #refMinsActive [attr.tabindex]="disabled ? -1 : 0"
    [class.black-text]="( minsActive != '00' || (input.value != '0' && input.value != '00'))" class="mins__active">
    <span>{{minsActive ? minsActive: ''}}</span>
    <svg width="9" viewBox="0 0 11 7">
      <path
        d="M9.80715 3.96454e-05H1.19742C0.139577 3.96454e-05 -0.407847 1.30594 0.358403 2.0892L4.80919 6.64071C5.28353 7.12579 6.04951 7.12579 6.52384 6.6035L10.6828 2.05198C11.376 1.26839 10.8652 0 9.80715 0V3.96454e-05Z" />
    </svg>
    <ul *ngIf="showDropDown" class="mins__list">
      <li [class.active]="minsActive == min" [class.focus]="inFocusMinIndex == i && upDownKeyPressed" class="mins__item"
        *ngFor="let min of minsDdValues;let i =index;" [attr.data-min]="min">{{min}}</li>
    </ul>
  </div>
</div>