.grid {
    display: grid;
    grid-template-columns: auto;
    justify-items: space-between;
    align-content: center;
}

.leaves__stats{
    background:linear-gradient(to bottom, var(--col-primary-900), rgba(0,0,0,0));
    border-radius: 15px;
    padding:30px 40px;
    display: inline-flex; 
    .leaves__count{
        > span{
            background:linear-gradient(to bottom, var(--col-primary-800), rgba(0,0,0,0));
            border-radius: 50%;
            width:65px;
            height: 65px;
            &.positive-balance{
                color:var(--col-accent-500);
            }
        }
        > div{}
    }
}
::ng-deep .md-drppicker.double {
    min-width: 512px;
}

// ::ng-deep ngx-daterangepicker-material div {
//     left: auto;
// }
::ng-deep .custompicker {
     ::ng-deep .md-drppicker {
        top: -100px!important;
    }
}

.leave__comment {
    width: 100%;
    height: 100px;   
}
.negative-balance{
    color:red;
}