<app-pre-sign-in>
  <h2 class="tac heading" *ngIf="!showSuccessMessage">Forgot Password!</h2>
  <h2 class="tac heading-1" *ngIf="showSuccessMessage">Successfully sent</h2>
  <form *ngIf="!showSuccessMessage" class="mt-30" #form="ngForm" [formGroup]="fgForgotPassword"
    (ngSubmit)="onSubmit($event)">
    <div class=" middle-xs flex fs-15 fs-md-16 fs-lg-18">
      <svg class="col-accent-500 mr-10 use-svg col-accent-500" symbol="user" [w]="is_XS ? 17 : 21"></svg>
      <mat-form-field class="formField lite fg-1 ">
        <mat-label>Email
        </mat-label>
        <input autocomplete="off" matInput type="email" placeholder="Enter email" formControlName="email">
        <mat-error *ngIf="fgForgotPassword.controls.email.hasError('email')">
          Please enter a valid email
        </mat-error>
        <mat-error *ngIf="fgForgotPassword.controls.email.hasError('required')">
          Please enter your email
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex middle-xs flex-col-xs flex-row-sm fs-12 col-primary-400 mt-20 pb-20">
      <svg class=" mr-3 use-svg" symbol="info" w="15"></svg>
      <span class="tac">Reset link will be sent to the above mail address </span>
    </div>
    <div class="flex center-xs mt-20">
      <app-button id="go-back" [routerLink]="['/login']" class="mr-15" theme="grey"
        [size]="is_MD_LT ? 'small' : 'default'">Go Back</app-button>
      <app-button id="submit" [size]="is_MD_LT ? 'small' : 'default'">Send</app-button>
    </div>
  </form>
  <div *ngIf="showSuccessMessage" class="flex center-xs mt-50">
    <svg class=" mr-10 use-svg" symbol="email-sent" w="50"></svg>
  </div>
  <div *ngIf="showSuccessMessage" class="flex center-xs fs-12 col-primary-400 mt-20 mb-60 pb-5">Please check your mail
    to reset password with the link</div>
</app-pre-sign-in>
