<div class="presignin {{currentRoute}}" >

    <!-- <div class="presignin__bg"> 
    </div> -->
    <div class="presignin__logo flex middle-xs center-xs pos-r"> 
        <img src="assets/images/atwork-watermark_v2.png" alt="" >
        <img  src="assets/images/atwork-text_v2.svg" alt=""  >
    </div>
    <div class="presignin__form">
        <div class="pos-r p-lg-50 pl-15 pr-15 pt-50 pt-md-50 pb-md-50 pb-50 pl-sm-30 pr-sm-30">
            <ng-content></ng-content>
        </div>
    </div>
    <div></div>
</div>