/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
    50 : #e3f3e9,
    100 : #b8e1c8,
    200 : #89cda4,
    300 : #5ab97f,
    400 : #36aa63,
    500 : #139b48,
    600 : #119341,
    700 : #0e8938,
    800 : #0b7f30,
    900 : #066d21,
    A100 : #006314,
    A200 : #035414,
    A400 : #002f0a,
    A700 : #001805,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-primary: (
    50 : #e7e7e7,
    100 : #c3c3c3,
    200 : #9b9b9b,
    300 : #727272,
    400 : #545454,
    500 : #363636,
    600 : #303030,
    700 : #292929,
    800 : #222222,
    900 : #161616,
    A100 : #000000,
    A200 : #111111,
    A400 : #444444,
    A700 : #555555,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #fee8e7,
    100 : #fcc7c3,
    200 : #faa19b,
    300 : #f77b72,
    400 : #f65f54,
    500 : #f44336,
    600 : #f33d30,
    700 : #f13429,
    800 : #ef2c22,
    900 : #ec1e16,
    A100 : #c81000,
    A200 : #9a0000,
    A400 : #770000,
    A700 : #590000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);




$md-misc: (
    "success": #28a745,
    "info": #59a8f7,
    "warning":#fb8b24
);
