
h2 {
    color: var(--col-accent-500);
    font-size: 24px;
    font-weight: 500;
}
h3 {
    color: var(--col-accent-500);
    font-size: 20px;
    font-weight: 400;
}
h4 {
    color: var(--col-accent-500);
    font-size: 18px;
    font-weight: 400;
}