<div class="flex col middle-xs center-xs mt-20 pt-20 mt-md-50 pt-md-50">
  <img class="img-report" src="./assets/images/at_work_downloads.png" alt="">
  <p class="col-primary-400 mt-10 fs-md-20 fs-16 fs-xmd-24 fw-700">Download the report</p>
  <div class="fs-16 flex-col-xs flex-row-sm col-primary-300 mt-15 mt-md-10 mt-xmd-20 flex middle-xs center-xs start-md">
    <svg symbol="exclamation-yellow" w="25" class=" use-svg"></svg>
    <span class="ml-10 ml-sm-0 fs-xmd-16 fs-md-14 fs-13 mt-5 mt-sm-0 ">
      {{message}}
    </span>
  </div>
</div>
